* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body,
html {
  scroll-behavior: smooth;
  background-color: #0d1117;
  height: auto;
}

main {
  margin-top: 90px;
}

#div_nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  width: 100%;
  border-width: 1px;
  height: 75px;
  background-color: none;
  margin-bottom: 20px;
}

#div_nav_misc {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 30%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  font-family: inherit;
  margin: 0;
}

#div_nav_misc a:hover,
.dropdown:hover .dropbtn {
  background-color: #f9f9f9;
  color: #02b3c0;
  border-radius: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  font-weight: 400;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: center;
  align-content: center;
  animation: aparecer 0.15s ease-in-out;
}

#div_container {
  display: flex;
  height: fit-content;
}

#div_banner {
  width: 100vw;
  height: 100vh;
}

#div_banner_left {
  width: 92%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

#div_banner_left h1 {
  font-size: 4rem;
}

#div_banner_left h2 {
  font-size: 2rem;
  font-weight: 300;
  color: #bcbcbc;
}

#div_email {
  margin-top: 10%;
}

#div_email input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 30%;
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
  padding: 1%;
  border: hidden;
  color: black;
}
#div_email button {
  border-top-right-radius: 5px;
  width: 20%;
  border: hidden;
  cursor: pointer;
  margin: 0;
  font-size: 1rem;
  font-weight: 800;
  background-color: #f20ce3;
  border-bottom-right-radius: 5px;
  padding: 1%;
}

#div_conteudo {
  margin-top: 20%;
}

#div_conteudo span {
  color: #59ff00;
}

#div_video {
  display: flex;
  margin-top: 100px;
  width: 95%;
}

#div_video_img {
  animation: aparecer_direita ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

#div_video_texto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size: 2.5rem;
}
#div_video_texto span {
  font-weight: 700;
}

#div_conteudo_img {
  width: 100%;
  animation: aparecer_esquerda ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
#div_conteudo_img img {
  width: 95%;
  height: 100%;
  object-fit: cover;
}

#div_metodo_left {
  animation: aparecer_esquerda ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

#div_linha1 {
  height: 190px;
}

#div_linha2 {
  height: 290px;
}

#div_linha3 {
  height: 250px;
  /* margin-bottom: 600px; */
}

#div_linha4 {
  margin-top: 1100px;
  height: 500px;
}

#div_linha5 {
  height: 1500px;
}

#div_linha1 hr {
  background-color: #f20ce3;
}

#div_linha2 hr {
  background: linear-gradient(0deg, #59ff00, #f20ce3 70%);
}

#div_linha3 hr {
  background: linear-gradient(0deg, transparent, #59ff00 90%);
}

#div_linha4 hr {
  background: linear-gradient(0deg, #fff100, #59ff00 90%);
}

#div_linha5 {
  background: linear-gradient(0deg, transparent, #fff100 90%);
}

#div_line {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  gap: 25px;
  width: 10%;
  height: fit-content;
}

hr {
  animation: aparecer_scale ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  height: 100%;
  padding: 2px;
  border: hidden;
}

.texto {
  font-size: 3rem;
  font-weight: 500;
}

.sub_titulo {
  font-size: 1.5rem;
  font-weight: 600;
}

.icone {
  height: 33px;
  width: 33px;
  filter: invert();
}

#div_mira_index {
  margin-top: 60px;
}

#div_mira_index .texto span {
  color: #fff100;
}

#div_vc_sabia {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

#div_metodo_right {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#div_metodo_texto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  width: 100%;
  height: 80%;
}

#div_pergunta {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #fff100;
  border-width: 1px;

  border-radius: 15px;
  font-size: 1.7rem;
  color: #fff100;
  padding: 5px;
  width: 70%;
  height: 50%;
}

#div_vc_sabia_text h1 {
  color: #fff100;
  font-size: 3.5rem;
}
#div_vc_sabia_text p {
  font-size: 1.5rem;
}

#div_metodo {
  display: flex;
  justify-content: center;
  align-content: center;
}

#div_cenario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 500px;
  margin-top: 50px;
  background-color: #181c23;
  border: solid #2a2d34;
  border-width: 1px;
  margin-right: 30px;
  animation: aparecer_esquerda ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

#div_cenario_texto {
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  margin-right: 10px;
}

#div_cenario_texto a {
  font-weight: 600;
}
#div_cenario_texto span {
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 25vh;
  background-color: #1e2b41;
  margin-top: 20px;
}

#footer_img {
  width: auto;
  margin-left: 5px;
  height: fit-content;
}

#div_footer_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#div_footer_title h1 {
  font-size: 2.3rem;
}

#div_footer_title p {
  font-size: 1.3rem;
}

footer img {
  width: 25px;
  filter: invert(100%);
  margin-right: 5px;
  height: 25px;
}

@keyframes aparecer_scale {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes aparecer_clip {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes aparecer_esquerda {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes aparecer_direita {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes aparecer {
  from {
    scale: 0.97;
    opacity: 0%;
  }
  to {
    scale: 1;
    opacity: 100%;
  }
}
