* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body,
html {
  scroll-behavior: smooth;
  background-color: #0d1117;
  overflow-x: hidden;
  width: 100vw;
  height: auto;
}

#div_nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border: solid #2a2d34;
  border-width: 1px;
  height: 55px;
  background-color: #181c23;
}

#div_nav_misc {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 27%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  /* padding: 16px; */
  text-decoration: none;
  /* background-color: inherit; */
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

#div_nav_misc a:hover,
.dropdown:hover .dropbtn {
  background-color: #f9f9f9;
  color: #02b3c0;
  border-radius: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  font-weight: 400;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: center;
  align-content: center;
  animation: aparecer 0.15s ease-in-out;
}

main {
  margin-top: 2%;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 50px;
  margin-left: 40px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  /* margin-left: 30px; */
  width: 90%;
  margin-bottom: 15px;
  text-align: left;
}

#div_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 25vh;
  background-color: #1e2b41;
  margin-top: 20px;
}

#footer_img {
  width: auto;
  margin-left: 5px;
  height: fit-content;
}

#div_footer_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#div_footer_title h1 {
  font-size: 2.3rem;
}

#div_footer_title p {
  font-size: 1.3rem;
}

footer img {
  width: 25px;
  filter: invert(100%);
  margin-right: 5px;
  height: 25px;
}

@keyframes aparecer {
  from {
    scale: 0.97;
    opacity: 0%;
  }
  to {
    scale: 1;
    opacity: 100%;
  }
}
