* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body,
html {
  scroll-behavior: smooth;
  background-color: #0d1117;
  height: auto;
}

#div_nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: 1.5rem;
  width: 100%;
  border-width: 1px;
  height: 75px;
  background-color: none;
  margin-bottom: 20px;
}

#div_nav_misc {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 30%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.5rem;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  font-family: inherit;
  margin: 0;
}

#div_nav_misc a:hover,
.dropdown:hover .dropbtn {
  background-color: #f9f9f9;
  color: #02b3c0;
  border-radius: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  font-weight: 400;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: center;
  align-content: center;
  animation: aparecer 0.15s ease-in-out;
}

#div_container {
  display: flex;
  height: fit-content;
}

#div_banner {
  width: 100vw;
  height: 100vh;
}

#div_banner_left {
  width: 92%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

#div_banner_left h1 {
  font-size: 4rem;
}

#div_banner_left h2 {
  font-size: 2rem;
  font-weight: 300;
  color: #bcbcbc;
}

#div_email {
  margin-top: 10%;
}

#div_email input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 30%;
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
  padding: 1%;
  border: hidden;
  color: black;
}
#div_email button {
  border-top-right-radius: 5px;
  width: 20%;
  border: hidden;
  cursor: pointer;
  margin: 0;
  font-size: 1rem;
  font-weight: 800;
  background-color: #f20ce3;
  border-bottom-right-radius: 5px;
  padding: 1%;
}

#div_conteudo {
  margin-top: 20%;
}

#div_conteudo span {
  color: #59ff00;
}

#div_conteudo_img {
  width: 100%;
  animation: aparecer_esquerda ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
#div_conteudo_img img {
  width: 95%;
  height: 100%;
  object-fit: cover;
}

#div_linha1 {
  height: 19%;
}

#div_linha2 {
  height: 30%;
}

#div_linha3 {
  height: 32%;
}

#div_linha1 hr {
  background-color: #f20ce3;
}

#div_linha2 hr {
  background: linear-gradient(0deg, #59ff00, #f20ce3 70%);
}

#div_linha3 hr {
  background: linear-gradient(0deg, transparent, #59ff00 90%);
}

#div_line {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
  gap: 25px;
  width: 10%;
}

hr {
  animation: aparecer_scale ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  height: 100%;
  padding: 2px;
  border: hidden;
}

.texto {
  font-size: 3rem;
  font-weight: 500;
}

.sub_titulo {
  font-size: 1.5rem;
  font-weight: 600;
}

.icone {
  height: 33px;
  width: 33px;
  filter: invert();
}

/* .home-page-line {
  width: 3px;
  background: linear-gradient((transparent, #7c72ff 30%));
} */

@keyframes aparecer_scale {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes aparecer_clip {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes aparecer_esquerda {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes aparecer {
  from {
    scale: 0.97;
    opacity: 0%;
  }
  to {
    scale: 1;
    opacity: 100%;
  }
}
